#middle{
  grid-area: mid;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 20% 15% 30% 10%;
  grid-template-areas: 
  "ava . three button"
  "spx v2 . . "
  "at . . . "
  "p p p p"
  "fw fw fw1 fw1"

}

#avatar {
  grid-area: ava;
  justify-self: start;
  height: 20%;
  border-radius: 50%;
}

#threedots {
  width: 50%;
  grid-area: three;
  justify-self: end;
}

#button {
  grid-area: button;
  width: 50%;
  height: 50%;
  justify-self: end;
  border-radius: 50px;
}

#middle h2 {
  grid-area: spx;
  width: 25%;
}
#verified2 {
  width: 10%;
  grid-area: v2;

}
#p {
  grid-area: p;
  font-size: 25px;
}

h4 {
  grid-area: at;
  width: 100%;
  font-size: 15px;
}
#following {
  grid-area: fw;

}

#fw {
  grid-area: fw1;
  margin-left:100px;
  }
