body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 500px;
}

.header{
    display: grid;
    height: 180px;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto;
}

#coverphoto{
    grid-column: 1 / span 3;
    grid-row: 2;
}

#coverphoto img{
    width: 100%;
}

.headname{
    grid-column: 2;
    grid-row: 1;
    margin: 5px 0 0 -20px;
}

.headname h1{
    font-size: 20px;
    margin:0;
}

#tweetcount{
    color: dimgray;
    font-size: 14px;
    margin:0;
}

#arrow{
    grid-column: 1;
    grid-row: 1 ;
}

#arrow img{
    height: 100%;
}

.user-details{
    display: grid;
    height: 150px;
    grid-template-columns: 150px auto 80px 100px;
    grid-template-rows: 80px auto;
}

#avatar{
    grid-column:1;
    grid-row:1;
    margin: 10px 0 0 30px;
}

#avatar img{
    height: 60px;
    border-radius: 50%;
}

.username{
    grid-column:1;
    grid-row:2;
    margin-left:20px;
}

.username h1{
    font-size: 20px;
    margin:0;
}

#uname{
    font-size: 17px;
    color: dimgray;
    margin:0;
}

#threedots{
    position: relative;
    grid-column:3;
    grid-row:1;
    border: 2px solid #1DA1F2;
    border-radius: 50%;
    height:40px;
    width:40px;
    margin:10px 10px 10px 25px;
}

#threedots img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
}

.follow-button{
    grid-column:4;
    grid-row:1;
    margin:10px 30px 20px 0;
    border: 2px solid #1DA1F2;
    border-radius: 30px;
    height:40px;
    width:80px;
}

#follow{
    color: #1DA1F2;
    font-weight: bold;
    margin:10px 0 0 15px;
}

.user-descrip p{
    margin: 0 20px 20px 20px;
    padding-right:50px;
    font-size: 17px;
}

#following{
    margin-bottom: 5px;
}

#following span{
    color: dimgray;
}

.tabs{
    display: grid;
    grid-template-columns: 20% 35% 25% 20% ;
    grid-template-areas: 
    "tab-1 tab-2 tab-3 tab-4";
    font-size: 17px;
    font-weight: bold;
    color:dimgray;
}

.tabs p{
    display: block;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.tabs .active{
    border-bottom: 2px solid #1DA1F2;
}

#tab-1{
    grid-area: tab-1;
    color:#1DA1F2;
}

#tab-2{
    grid-area: tab-2;
}

#tab-3{
    grid-area: tab-3;
}

#tab-4{
    grid-area: tab-4;
}

.tweet img{
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}

.menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "home search bell dm";
    justify-items: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

#home{
    width: 25%;
    grid-area: home;
}

#search{
    width: 25%;
    grid-area: search;
}

#bell{
    width: 25%;
    grid-area: bell;
}

#dm{
    width: 25%;
    grid-area: dm;
}